---
Checks: 'bugprone-*,clang-diagnostic-*,clang-analyzer-*,modernize-*,-modernize-use-trailing-return-type,portability-*,readability-*,-readability-braces-around-statements,-readability-magic-numbers,-readability-uppercase-literal-suffix'
FormatStyle: file
