# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.user
lib/release_libgenieutils.dll
lib/release_libgenieutils.dll.a
lib/libgenieutils.dll
resources/
mod_override/
mainwindow_OLD.h
mainwindow_OLD.cpp
main_OLD.cpp
log.txt
OLDREADME.md
fixes/mongolnomadsfix.h
fixes/mongolnomadsfix.cpp
*.dll
steam_api.lib
debug/
prelog.txt
object_script.WololoKingdoms.Release
object_script.WololoKingdoms.Debug
WololoKingdoms_resource.rc
/Makefile.Release
/Makefile.Debug
/Makefile
.qmake.stash
Setup.iss
release/
libwololokingdoms/bin
*.o
